[Desktop Entry]
Version=1.0
Name=Apache JMeter
Comment=Teste de Performance - Aplicações Web
Comment[en]=Test Performance - Web Application
Exec=/opt/apache-jmeter-5.3/bin/jmeter
Terminal=false
Type=Application
Categories=Network;
Keywords=test;performance;
Icon=/opt/apache-jmeter-5.3/docs/images/favicon.png
